body {
  background-color: lightblue;
}
li {
  list-style: none;
}
li.country__name,
li.country__item--lang {
  list-style: disc;
}
.search-country {
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 10px;
  min-width: 500px;
  font-size: 20px;
}
.js-country__container {
  min-width: 400px;
}
.country {
  &__name {
    margin-left: 20px;
    font-size: 20px;
  }
  &__description {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1.5fr repeat(4, 1fr);
  }
  &__header {
    grid-area: 1 / 1 / 2 / 3;
    margin-left: 100px;
  }
  &__flag {
    grid-area: 2 / 2 / 6 / 3;
  }
  &__label {
    font-weight: bold;
  }
  &__item {
    font-weight: normal;
  }
}
